#slides-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

#slides-grid .card-title {
  color: black;
}

.float-end {
  float: right !important;
}

.float-start {
  float: left !important;
}

.btn-group-sm > .btn, .btn-sm {
  #padding: .25rem .5rem;
  margin-left: 3px;
  margin-bottom: 10px;
  border-radius: .2rem;
  
}

.mt-auto {
  margin-top: auto !important;
}

#list-page .card {
    background-color: var(--secondary-color) !important;
    box-shadow: 0px 8px 56px rgba(15, 80, 100, 0.16);
    border-radius: .75rem;
    cursor: context-menu;
    overflow: hidden;
    border: none;
    margin-bottom: 10px;
}

#list-page .card a {
    text-decoration: none;
}

#list-page .card a h5 {
    color: var(--text-color) !important;
}

#list-page .card:hover {
    transition: all 0.3s ease-out;
    transform: translateY(-7px);
}

#list-page .card-text * {
    background-color: var(--secondary-color) !important;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;

}

#list-page .post-footer {
    padding: .5rem 1rem;
    background-color: var(--secondary-color) !important;
    color: var(--text-color) !important;
    border-top: 1px solid rgba(15, 80, 100, 0.16);
    opacity: 0.9;
}

#list-page .post-footer a {
    background-color: var(--secondary-color) !important;
    color: var(--text-secondary-color) !important;
    border-color: var(--primary-color) !important;
    transition: none;
}

#list-page .post-footer a:focus {
    box-shadow: none !important;
}

#list-page .post-footer a:hover {
    color: var(--primary-color) !important;
    border-color: #27A822 !important;
}

#list-page .card > .card-header {
    padding: 0 !important;
    border: none !important;
    background-color: var(--secondary-color) !important;
}

#list-page .card > .card-header .card-img-top {
    width: 100%;
    height: auto !important;
    background-color: transparent !important;
}



@media screen and (max-width: 767px) {

  #slides-grid {
    display: block;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }
/*
  .slides-summary {
    width: 100%;
  }
  */
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  #slides-grid .card-title {
    color: white;
  }
}

