{{ partial "head" . }}
  <body>
    <div id="wrap">
	{{ partial "header" . }}
	{{ if isset .Params "headerimage" }}
	<div id="header">
	  <img class="header-image" src="{{ .Params.HeaderImage }}" alt="header image" />
        </div>
        {{ end }}
      <section class="static-page" id="resume">
          <div class="container panel">
              <div class="content">
                <div id="bio">
                  <div class="portrait">
                    <img src="/img/profile.jpg" id="portrait" class="img-circle" alt="portrait"/>
                  </div>
                  <span class="headline p-name">{{ .Site.Author.name }}</span><br />
                  {{ .Site.Author.bio  | markdownify | safeHTML }}
                </div>
                <div class="clear"></div>
                {{ if isset .Params "quote" }}
                {{ if isset .Params "quoteauthor" }}
                  <p class="quote"> <em>"{{ .Params.Quote }}"</em><br /> <cite>{{ .Params.QuoteAuthor }}</cite>
                  </p>
                {{ end }}
                {{ end }}
                <div class="clear"></div>
	        {{ .Content }}
              </div>
          </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
