{{ partial "head" . }}
  <body>
    <div id="wrap">
      <!-- Header -->
      {{ partial "header" . }}
      {{ if isset .Params "headerimage" }}
    <div id="header">
      <img class="header-image" src="{{ .Params.HeaderImage }}" alt="presenting" title="presenting" />
    </div>
    {{ end }}
      <div class="container archive">
        <h1>{{ .Site.Params.Blog.Headline }}
	{{ if (isset .Data "Singular") }}
        ({{ .Data.Singular }}: {{lower .Title}})
	<span class="article-rss"><a href="/{{ .Data.Plural }}/{{ lower .Title }}/index.xml" title="RSS Feed"><i class="fa fa-rss" aria-hidden="true"></i></a></span>
        {{ else }}
	<span class="article-rss"><a href="/{{ lower .Title }}/index.xml" title="RSS Feed"><i class="fa fa-rss" aria-hidden="true"></i></a></span>
        {{ end }}
        </h1>
	{{ if .Site.Params.Social.CommentsProvider }}
	<p><a rel="me" href="{{ .Site.Params.Social.CommentsProvider }}">Subscribe</a> to my Blog via the Fediverse (Mastodon, Friendica,...). Never miss a article! Reshare, like and discuss it!</p>
	{{ end }}
	<p class="categories">
	    <a class="label label-success" href="/articles">All</a>
            {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
            <a class="label label-success" href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">{{humanize $name }}</a>
            {{ end }}
	</p>
          <div class="panel panel-default panel-overview">
            <div class="blogpost">

              {{ range .Data.Pages.ByPublishDate.Reverse }}
                {{ $.Scratch.Set "moreLable" "Read more..." }}
                {{ range $index, $value := .Params.categories }}
                  {{ if eq $value "deutsch" }}
                    {{ $.Scratch.Set "moreLable" "Mehr..." }}
                  {{ end }}
                {{ end }}
                <div class="blog-summary">
                  <h4><strong><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></strong></h4>
		  <div class="metadata">Posted on {{ .Date.Format "January 2, 2006" }} - Tagged with {{ range $i, $tag := .Params.tags }}{{ if $i }}, {{ end }}<a href="/tags/{{ lower $tag }}">{{ $tag }}</a>{{ end }}</div>
                  <p>{{ .Summary }} <a href="{{ .RelPermalink }}">{{ $.Scratch.Get "moreLable" }}</a></p>
                </div>
              {{ end }}
            </div>
          </div>
      </div>
    </div>
    <!-- Footer -->
    {{ partial "footer" . }}
  </body>
</html>
