{{ partial "head" . }}
<body>
  <div id="wrap">
    {{ partial "header" . }}
    {{ if isset .Params "headerimage" }}
      <div id="header">
        <img class="header-image" src="{{ .Params.HeaderImage }}" alt="presenting" title="presenting" />
      </div>
    {{ end }}
    <section id="presentations">
      <div class="container panel panel-default" id="list-page">
          {{ if isset .Params "quote" }}
            {{ if isset .Params "quoteauthor" }}
              <p class="quote"> <em>"{{ .Params.Quote }}"</em><br /> <cite>{{ .Params.QuoteAuthor }}</cite></p>
            {{ end }}
          {{ end }}
          <div class="clear"></div>
          <div class="content">
            {{ .Content }}
          </div>        
          <div class="panel-body">
            <h1>A selection of my talks and presentations</h1>
          </div>
        <div id="slides-grid">
          {{ range $i, $el := .Site.Data.presentations.source }}
            <!--<div class="slide-summary">-->
              <div class="card h-100">
                <div class="card-header">
                  <a href="{{ $el.slides }}">
                  {{ $image := $el.image | default "slides-placeholder.jpg" }}
                        <img src="{{ $image }}" class="card-img-top" alt="{{ $el.title }}">
                      <!--<img src="{{ .Site.BaseURL }}presentations/{{ $el.image }}" class="card-img-top" alt="{{ $el.title }}">-->
                  </a>
                </div>
                <div class="card-body bg-transparent p-4 shadow-sm">
                  <a href="{{ $el.slides }}" class="primary-font card-title">
                    <h3 class="card-title bg-transparent" title="{{ $el.title }}">{{ $el.title | truncate 25 }}</h3>
                  </a>
                  <div class="card-text secondary-font">
                    <p>{{ $el.summary }}</p>
                  </div>
                </div>
                <div class="mt-auto post-footer bg-transparent py-3">
                  <span class="float-start bg-transparent">{{ $el.location }}, {{ $el.date }}</span>
                  <a href="{{ $el.slides }}" class="float-end btn btn-outline-info btn-sm">{{ .Site.Params.terms.read | default "Slides" }}</a>
                  {{ if $el.article }}<a href="{{ $el.article }}" class="float-end btn btn-outline-info btn-sm">{{ .Site.Params.terms.read | default "Article" }}</a>{{ end }}
                </div>
              </div>
            <!--</div>-->
          {{ end }}
        </div>
      </div>
    </section>
  </div>
  <div class="clear"></div>
  {{ partial "footer" . }}
</body>
</html>
