<section id="projects">
  <div class="container">

    <div class="panel panel-default">
      <div class="panel-body">

        <div class="clear"></div>
        <p class="quote">
          <i> Playfully doing something difficult, whether useful or not, that is hacking. <a href="https://stallman.org/articles/on-hacking.html" title="Richard Stallman on Hacking">*</a></i><cite>Richard Stallman</cite>
        </p>

        <div class="clear"></div>

        <p>
           This page contain some of the software projects I worked on over the past few years.
           This is not a complete overview, I only list projects which might be interesting
           for other people as well.
        </p>

      </div>
    </div>

    <h3>Active Projects</h3>

    <div class="panel panel-default">
      <div class="panel-body">

      <ul class="flat">
      {{ range $i, $el := .Site.Data.projects.source }}
	{{ if $el.active }}
          <li>
            <i class="{{ .icon }}"></i>&nbsp;&nbsp;
            <strong><a href="{{ $el.url }}">{{ $el.name }}</a></strong>&nbsp;-&nbsp;{{ $el.description }}
          </li>
	{{ end }}
      {{ end }}
      </ul>
      </div>
    </div>

    <h3>Inactive Projects</h3>
    <div class="panel panel-default">
      <div class="panel-body">
      <ul class="flat">
      {{ range $i, $el := .Site.Data.projects.source }}
	{{ if not $el.active }}
          <li>
            <i class="{{ .icon }}"></i>&nbsp;&nbsp;
            <strong><a href="{{ $el.url }}">{{ $el.name }}</a></strong>&nbsp;-&nbsp;{{ $el.description }}
          </li>
	{{ end }}
      {{ end }}
      </ul>
      </div>
    </div>
  </div>
</section>
