{{ partial "head" . }}
  <body>
    <div id="wrap">

      <!-- Header -->
      {{ partial "header" . }}
      {{ if isset .Params "showpagemeta" }}
        {{ .Render "projects" }}
      {{ else }}
              {{ if isset .Params "headerimage" }}
                <img class="header-image" src="/img/{{ .Params.headerImage }}" title="{{ .Params.headerImageCopyright }}" />
              {{ end }}
      <div class="container">
        <div class="blog-post">
          <h1>
            <strong>{{ .Title }}</strong>
          </h1>
        </div>
        <div class="blog-title">
          <h4>
          {{ .Date.Format "January 2, 2006" }}
            &nbsp;&nbsp;
            {{ range .Params.tags }}
            <a class="label label-success" href="/tags/{{ lower . }}">{{ . }}</a>
            {{ end }}
          </h4>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="blogpost">
              {{ .Content }}
	      <!--{{ partial "share" . }}-->
            </div>
          <hr>
          <h5>Author</h5>
          {{ partial "followme" . }}
          {{ partial "about" . }}
          <div class="clear"></div>
          <hr>
        {{ partial "comments" . }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>

    <!-- Footer -->
    {{ partial "footer" . }}
    
  </body>
</html>
