{{ partial "head" . }}
  <body>
    <div id="wrap">
	{{ partial "header" . }}
	{{ if isset .Params "headerimage" }}
	<div id="header">
	  <img class="header-image" src="{{ .Params.HeaderImage }}" alt="header image" />
        </div>
        {{ end }}
      <section class="static-page">
          <div class="container">
              <div class="content panel">
                 {{ if isset .Params "quote" }}
                 {{ if isset .Params "quoteauthor" }}
                 <p class="quote"> <em>"{{ .Params.Quote }}"</em><br /><cite>{{ .Params.QuoteAuthor }}</cite>
                 </p>
                 {{ end }}
                 {{ end }}
                 
                  <div class="clear"></div>
                 
	          {{ .Content }}
              </div>
          </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
