<div class="portrait">
  <img src="/img/profile.jpg" id="portrait" class="img-circle" alt="portrait"/>
</div>
<span class="headline p-name">{{ .Site.Author.name }}</span><br />
{{ .Site.Author.bio  | markdownify | safeHTML }}
<br />
