<div class="comments-container">
    <h5>Comments</h5>
    <div id="statistics">
        <div id="like-count-container"></div><div id="reblog-count-container"></div><div id="reply-count-container"></div>
    </div>
    <div class="clear"></div>
    <div id="comments"></div>
    <div class="clear"></div>
    <div id="reference"></div>
    <!--<p class="reference"><a href="https://mastodon.social/users/bjoern/statuses/{{ .Params.toot }}">Join the discussion on Mastodon!</a></p>-->
</div>
