<nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ .Site.BaseURL }}"><i class="fa fa-home"></i></a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
      {{ if .Site.Menus.main }}
        {{ range sort .Site.Menus.main }}
        <li><a href="{{ .URL }}" rel="me">{{ .Name | upper }}</a></li>
        {{ end }}
      {{ end }}
      <li class="search-icon">
            <a href="javascript:void(0)">
              <i class="fa fa-search"></i>
            </a>
          </li>
      </ul>
    </div>
</nav>
{{ partial "search" . }}
