<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ .Site.Author }}" >
    {{ if .Site.Params.description }}<meta name="description" content="{{ .Site.Params.description }}">{{ end }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ .Site.BaseURL }}img/favicon.ico">
    <title>
    {{- $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" -}}
    {{- if eq $url "" -}}
        {{- .Site.Title -}}
    {{- else -}}
        {{- if .Params.heading -}} {{- .Params.heading -}} {{- else -}} {{- .Title -}} {{- end -}}
    {{- end -}}
	</title>
    {{ hugo.Generator }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}3rdparty/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}mastodon.comments/mastodon-comments.css">
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/main.css" >
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/search.css" >
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/presentations.css" >
    <link rel="alternate" type="application/json" href="/index.json" title="Weblog" >
    {{- if .Params.highlight -}}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}3rdparty/highlight.js/9.7.0/css/tomorrow.min.css">
    {{ end }}
    {{- if .Site.Params.Social.Mastodon }}
    {{ end }}
    {{- if .Site.Params.Social.Webmentions }}
    <link rel="webmention" href="https://webmention.io/www.schiessle.org/webmention" >
    <link rel="pingback" href="https://webmention.io/www.schiessle.org/xmlrpc" >
    {{ end }}
    {{- if .Params.slides -}}
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}3rdparty/slides/css/slides.css" >
   {{ end }}
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}3rdparty/fork-awesome/1.1.7/css/fork-awesome.min.css" >
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}3rdparty/gfonts/css/fonts.css" >
    {{ range .Site.Params.custom_css }}
    <link rel="stylesheet" href="{{ $.Site.BaseURL}}{{ . }}">
    {{ end }}
    {{ `<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->` | safeHTML }}


    <!-- Open Graph meta-data (e.g. Facebook) -->
    <meta property="og:title" content="{{- if .Params.heading -}} {{- .Params.heading -}} {{- else -}} {{- .Title -}} {{- end -}}">
    <meta property="og:type" content="{{- if (eq .Params.type "post") -}} article {{- else -}} website {{- end -}}" >
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:image" content="{{- if .Params.headerImage -}} {{ .Site.BaseURL }}img/{{ .Params.headerImage }} {{- else if .Params.image -}} {{ .Site.BaseURL }}img/{{ .Params.image }} {{ else }} {{ .Site.BaseURL }}img/{{ .Site.Author.avatar }} {{- end -}}">
    <meta property="og:description" content="{{- if .Params.heading -}} {{- .Params.heading -}} {{- else -}} {{- .Title -}} {{- end -}}">
    <meta property="og:locale" content="en">

<!-- Twitter meta-data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@schiessle">
    <meta name="twitter:title" content="{{- if .Params.heading -}} {{- .Params.heading -}} {{- else -}} {{- .Title -}} {{- end -}}">
    <meta name="twitter:description" content="{{- if .Params.heading -}} {{- .Params.heading -}} {{- else -}} {{- .Title -}} {{- end -}}">
    <meta name="twitter:image" content="{{- if .Params.headerImage -}} {{ .Site.BaseURL }}img/{{ .Params.headerImage }} {{- else if .Params.image -}} {{ .Site.BaseURL }}img/{{ .Params.image }} {{ else }} {{ .Site.BaseURL }}img/{{ .Site.Author.avatar }} {{- end -}}">
    <meta name="twitter:url" content="{{ .Permalink }}">
    <meta name="twitter:creator" content="@schiessle">

    <!-- Fediverse meta-data -->
    {{- if .Site.Author.fediverse -}}
    <meta name="fediverse:creator" content="{{ .Site.Author.fediverse }}">
    
    {{- end -}}

  </head>
