<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ .Site.BaseURL }}3rdparty/jquery/1.11.3/js/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}mastodon.comments/getcomments.js"></script>
<script src="{{ .Site.BaseURL }}js/dropdown.js"></script>
<script src="{{ .Site.BaseURL }}js/simple-jekyll-search.min.js"></script>
<script src="{{ .Site.BaseURL }}js/search.js"></script>
<script>var MastodonTootId="{{ .Params.toot }}"</script>
<script>var RelPermalink="{{ .RelPermalink }}"</script>
<!-- Show RSS Feed content on front page -->
{{- if and ( .IsHome ) ( .Site.Params.externalAtomFeed ) -}}
<script> var externalFeedUrl="{{ .Site.Params.externalAtomFeed}}"</script>
<script src="{{ .Site.BaseURL }}js/feedreader.js"></script>
{{ end }}
<!-- Bootstrap core JavaScript -->
<script src="{{ .Site.BaseURL }}3rdparty/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{{- range .Site.Params.custom_js -}}
<script src="{{ $.Site.BaseURL }}{{ . }}"></script>
{{ end }}
<script src="{{ .Site.BaseURL }}js/docs.min.js"></script>
<!--<script src="{{ .Site.BaseURL }}js/main.js"></script>-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ .Site.BaseURL }}js/ie10-viewport-bug-workaround.js"></script>
{{- if .Params.highlight -}}
{{ "<!-- Syntax highlighting -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}3rdparty/highlight.js/9.7.0/js/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{ end }}
{{- if .Params.slides -}}
{{ "<!-- Slideshows -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}3rdparty/slides/js/slides.js"></script>
{{ end }}
{{- if( .IsHome ) -}}
<script src="{{ .Site.BaseURL }}mastodon.feed/getmastodonfeed.js"></script>
{{ end }}

