{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        {{ if isset .Site.Params "sticker" }}
        <div class="sticker">
          <a href="{{ .Site.BaseURL }}{{ .Site.Params.sticker_target }}" alt="{{ .Site.Params.sticker_alt }}">
            <img src="{{ .Site.Params.sticker }}"></img>
          </a>
        </div>
        {{ end }}
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Author.avatar }}" alt="Responsive image">
        </div>
        <h3><strong>{{ .Site.Author.name }}</strong></h3>
        <div class="summary">
	{{ .Site.Author.bio | markdownify | safeHTML }}
	</div>
        {{ partial "social.html" . }}
	<div id="thought">
	  <a href="https://mastodon.social/@bjoern/17848245" title="Latest thought... Click to like, reshare or comment on Mastodon!">
	  <blockquote>"What you do makes a difference, and you have to decide what kind of difference you want to make." <cite>Jane Goodall</cite></blockquote></a>
	</div>
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
